# Configurações do PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=summerjob_db

# Diretório dos Dados
DATA_DIR=C:\Users\thiag\Downloads\Fontes Summerjob

# Provedor LLM Groq
GROQ_API_KEY=sua_chave_groq_aqui
GROQ_MODEL=qwen/qwen3.6-27b

# Modelo de Embedding
EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
EMBEDDING_DIMENSION=768
