# Apenas arquivos brutos pesados de Fontes_Summerjob usam Git LFS
Fontes_Summerjob/*.geojson filter=lfs diff=lfs merge=lfs -text
Fontes_Summerjob/*.csv filter=lfs diff=lfs merge=lfs -text
Fontes_Summerjob/*.json filter=lfs diff=lfs merge=lfs -text
